.form {
  background-color: #263848;
  display: flex;
  padding: 2em;
  gap: 1em;
}

.input_fields {
  display: flex;
  gap: 1em;
}

.input_fields input {
  border: none;
  width: 20em;
  padding-left: 0.5em;
  height: 2.8em;
}

.shorten_button {
  background-color: #2381c2;
  border: none;
  height: 3em;
  padding: 0em 2em;
  color: white;
}

.shorten_button:hover {
  cursor: pointer;
}

/* For small screen  */
@media screen and (max-width: 670px) {
  .form {
    flex-direction: column;
  }
  .input_fields {
    width: 100%;
  }
}
