.form {
  background-color: #263848;
  display: flex;
  padding: 2em;
}

input {
  border: none;
  margin: 0px 0.5em;
  width: 20em;
  padding-left: 0.5em;
}

.shorten_button {
  background-color: #2381c2;
  border: none;
  height: 3em;
  padding: 0em 2em;
  color: white;
}

.shorten_button:hover {
  cursor: pointer;
}
