.banner {
  width: 100%;
  display: flex;
}

.content {
  margin-left: 0.45em;
}

.content_buttons {
  display: flex;
}

.content_signup_button {
  width: fit-content;
  background-color: #2381c2;
  border-radius: 0.2em;
  font-size: 20px;
  border: none;
  color: white;
  padding: 0.5em;
}

.content_demo_button {
  margin-left: 2em;
  background-color: white;
  width: fit-content;
  border-radius: 0.2em;
  font-size: 20px;
  border: 2px solid #2381c2;
  color: #2381c2;
  padding: 0.5em;
}

img {
  width: 20em;
  border-radius: 20%;
}

/* For small screen  */
@media screen and (max-width: 670px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 80%;
  }

  .profile {
    margin: 1em 0em;
  }
}
